@media only screen and (max-width: 480px){



.header_line{
    font-size: 10px;
    width: 100%;
}

.gruz{
    width: 45px;
    height: 30px;
}


.number{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.logo{
    display: flex;
    justify-content: center;
}


.cont1txt{
    font-size: 22px;
}

.cont1text{
    font-size: 20px;
}


.emergency{
    font-size: 15px;
}

.timer{
    width: 60px;
}

.cargo{
    width: 80px;
}
.prichin{
    font-size: 25px
}

}
