@media only screen and (max-width: 480px){



.header_line{
    font-size: 10px;
    width: 100%;
    display: flex;align-items: center;
}

.gruz{
    width: 45px;
    height: 30px;
}


.number{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30px;
    margin-bottom: 25px;
}


.logo{
    display: flex;
    justify-content: center;
   margin-left: 25px;
   margin-right: 10px;
}


.cont1txt{
    font-size: 17px;
}

.cont1text{
    font-size: 13px;
}


.emergency{
    font-size: 13px;
}

.timer{
    width: 60px;
}

.cargo{
    width: 80px;
}
.prichin{
    font-size: 25px
}

.uslugi{
    width:calc( 50% - 25px);
    margin: 10px;
    height: calc((25vw - 20px) / 9 * 16);
    font-size: 13px;
}



.uslugi_img{
    width: 90px;
}
    
.link{
    margin-right: 35px;
}
.button-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.link-button {
    margin: 10px;  
    background-color:  rgb(62 150 188);
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 10px 25px;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 6px 12px  rgb(62 150 188);
      user-select: none;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content:space-around;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }




.container {
      width: 95%;
      padding: 15px;
      box-shadow: 0 6px 14px rgba(0,0,0,0.1);
      border-radius: 10px;
    }
    .toggle-item {
      font-size: 18px;
      padding: 18px 16px;
      border-radius: 10px;
      margin-bottom: 14px;
      box-shadow: inset 0 0 0 1px #8fa4c7;
    }
    .toggle-item:hover {
      background-color: #a9c2ff;
    }
    .toggle-text {
      font-size: 16px;
      margin-left: 0;
      padding-left: 14px;
      padding-right: 14px;
    }



}



  


