@media only screen and (max-width: 480px){
	main{
		width: 95%;
	}
	.photo{
	width: calc(100% - 40px);
	height: calc((40vw - 20px) / 9 * 16);
	background-color: grey;
	margin:10px 20px;
	}
}